* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.debug {
    border: 1px solid red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1918px;
}  

a {
    text-decoration: none;
    color: #828283;
}


/*Header*/
/*Header*/
/*Header*/

header {
    height: 80px;
    background-color: white;
}

header .container-top {
    height: 100%;
    margin: 0px 20px 0px;
}

header .container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container-top nav ul {
    display: flex;
}

header .container-top li {
    padding: 9px 15px;
    display: flex;
    align-items: center;
}

header .container-top nav .left-list li {
    margin-right: 40px;
}

header .container-top nav .right-list li {
    margin-left: 40px;
}
