* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.debug {
    border: 1px solid red;
}

/*Header*/
/*Header*/
/*Header*/

header {
    height: 80px;
    background-color: white;
}

header .container-top {
    height: 100%;
    margin: 0px 20px 0px;
}

header .container-top {
    display: flex;
    justify-content: space-between;
}