* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}  

a {
    text-decoration: none;
}

.debug {
    border: 1px solid black;
}


/*Header*/
/*Header*/
/*Header*/

header {
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
}

header a {
    color: #828282; 
}
        

header .container-top {
    height: 100%;
    margin: 0px 20px 0px;
    font-size: 16px;
}

header .container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container-top .right-list .blu {
    height: 32px;
    width: 70px;
    background-color: #275FF6;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container-top nav ul {
    display: flex;
}

header .container-top li {
    padding: 9px 15px;
    display: flex;
    align-items: center;
}

header .container-top nav .left-list li {
    margin-right: 25px;
}

header .container-top nav .right-list li {
    margin-left: 25px;
}

/*Jumbotron*/
/*Jumbotron*/
/*Jumbotron*/

.jumbotron {
    height: 735px;
    background-color: #B9CFE5;
}

.jumbotron .container-jumbotron {
    width: 62.5%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    height: 735px;
}

.jumbotron .container-jumbotron .colonne {
    display: flex;
}

.jumbotron .container-jumbotron .colonna {
    width: 390px;
    height: 395px;
}

.jumbotron .container-jumbotron .colonna p {
    font-size: 18px;
    margin-bottom: 27px;
    color: #212428;
}



.jumbotron .container-jumbotron .titolo {
    height: 340px;
    padding: 70px 0px;
}

.jumbotron .container-jumbotron .titolo h1 {
    font-size: 75px;
    margin-top: 40px;
}

.jumbotron .container-jumbotron .btn-j {
    height: 43px;
    width: 225px;
    background-color: #275FF6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 31px;
}

.blu {
    color: white;
}

.jumbotron .fa-arrow-down {
    font-size: 45px;
    margin-top: 55px;
}

.jumbotron .container-jumbotron .colonna-img {
    height: 395px;
    width: 810px;
}

/*Main*/
/*Main*/
/*Main*/

 .container {
    width: 52%;
    background-color: white;
    margin: 0 auto;
    
 }

 main .container .titolo-due {
    margin-top: 158px;
    font-size: 27.5px;
    margin-bottom: 70px;
 }

 main .container .fatturazione {
    max-height: 19px;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
 }

 main .container .fatturazione .cerchio {
    margin-right: 4px;
 }

 main .container .fatturazione .cerchio {
    height: 19px;
    width: 19px;
    border-radius: 50%; 
}

main .container .fatturazione .blu {
    border: 4px solid #285FF6;
}

main .container .colonna-bottom .btn {
    width: 236px;
    height: 40px;
    background-color: #275FF6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
}

main .container .colonna-bottom .btn a {
    color: white;
}

main .container .fatturazione .grigio {
    border: 2px solid #CFD0D3;
    margin-left: 49px;
}

main .container .colonne {
    columns: 3;
    column-gap: 50px;
}


main .container .colonne .colonna {
    height: 952px;
    width: 296px;
    border: 1px solid #D9D9DB;
}

main .user{
    height: 40px;
    border-bottom: 1px solid #D9D9DB;
    display: flex;
    justify-content: center;
    align-items: center;
}



main .container .colonne .colonna .offerta {
    margin: 35px;
}

main .container .colonne .colonna .offerta .nome-offerta {
    font-size: 20px;
}

main .container .colonne .colonna .offerta .prezzo {
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 8px;
}

main .container .colonne .colonna .offerta .almese p{
    color: #B9CFE5;
}

main .container .colonne .colonna .offerta .colonna-bottom {
    margin-top: 50px;
}

main .container .colonne .colonna .offerta .colonna-bottom div {
    margin-bottom: 20px;
}

main .container .colonne .colonna .offerta .colonna-bottom .riga {
    height: 1px;
    width: 45px;
    background-color: #D4D4D7;
}


.colonna-bottom ul .omino {
    list-style: url('../img/user-solid.svg');
}

.colonna-bottom ul .cartella {
    list-style: url(../img/folder-solid.svg);
}

.colonna-bottom ul .condividi {
    list-style: url(../img/share-nodes-solid.svg)
}

.colonna-bottom ul .fa-check {
    list-style: url(../img/check-solid.svg);
}

main .container .bottom-c {
    height: 255px;
    width: 950px;
    border: 1px solid #D9D9DB;
    margin-top: 50px;
}

/*Container-sq*/
/*Container-sq*/
/*Container-sq*/

main .container-sq {
    max-width: 1920px;
}

main .quadrati {
   border: 1px solid black;
   column-count: 3;
   column-gap: 0px;
}

main .quadrati .quadrato {
    height: 640px;
    width: 640px;
    border: 1px solid black;

}
/*
    


    min-width: 640px;
    min-height: 640px;
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid black;


main .quadrati .quadrato .qq {
    height: 320px;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
}

*/

main .partner {
    display: flex;
    height: 600px;
    border: 1px solid red;
    background-color: #828282;
    margin-right: 13px;
}

main .partner img {
    width: 600px;
}

main .partner .side-text {
    width: 400px;
}

main .partner .side-text {
    width: 400px;
}

main .wrap {
    height: 1200px;
    margin-right: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .wrap img {
    height: 290px;
    width: 290px;
}

main .box {
    height: 500px;
    width: 300px;
}

main .add {
    height: 500px;
    border: 1px solid black;
}

main .container .cta {
    height: 360px;
    background-color: #B9CFE5;
    display: flex;
    justify-content: space-between;
}

main .container .domande {
    height: 724px;
    background-color: white;
    border: 1px solid black;
}

/*Footer*/
/*Footer*/
/*Footer*/

footer {
    height: 567px;
    background-color: black;
    color: white;
}

footer .footer-up {
    display: flex;
    width: 52%;
    margin: 0 auto;
}



